<section id="portafolio">
    <div class="contenedor">
        <h2>¡Mis páginas hechas!</h2>
        <div class="cards">
            <div class="card">
                <img src="./assets/Imagenes/CB-logo.png" alt="logo de CB negociso inmobiliarios">
                <h3>CB Negocios Inmobiliarios</h3>
                <button><a href="https://github.com/Zinike/CBNI" target="_blank">GitHub</a></button>
            </div>

            <div class="card">
                <img src="./assets/Imagenes/KG-logo.png" alt="logo de KilaGames">
                <h3>KilaGames.com</h3>
                <button><a href="https://github.com/Zinike/kilagames.com" target="_blank">GitHub</a></button>
            </div>
        </div>
    </div>
</section>