.contenedor {
    padding: 50px 0;
    background-color: #5d1cee;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 450px;
    box-shadow: 5px 5px 5px black;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

button {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}