<section id="portafolio">
    <div class="contenedor">
        <h2>¡Mis páginas hechas!</h2>
        <div class="cards">
            <div class="card">
                <img src="../assets/Imagenes/CBlogo.png" alt="Logo de CB Negocios Inmobiliarios">
                <h3>CB Negocios Inmobiliarios</h3>
                <a href="https://www.cbnegociosinmobiliarios.com" target="_blank"><button>Visitar Página</button></a>
            </div>
            <div class="card">
                <img src="../assets/Imagenes/Tecno.png" alt="Logo de TecnoMas">
                <h3>TecnoMás</h3>
                <a href="https://tecnomas.online" target="_blank"><button>Visitar Página</button></a>
            </div>
            <div class="card">
                <img src="../assets/Imagenes/ZYlogo.png" alt="Logo de Zapatos Yulii">
                <h3>CB Negocios Inmobiliarios</h3>
                <a href="https://www.zapatosyulii.com" target="_blank"><button>Visitar Página</button></a>
            </div>
            <div class="card">
                <img src="../assets/Imagenes/KGlogo.png" alt="Logo de Kila Games">
                <h3>Kila Games</h3>
                <a href="https://www.kilagames.com" target="_blank"><button>Visitar Página</button></a>
            </div>
            <div class="card">
                <img src="../assets/Imagenes/ULlogo.png" alt="Logo de UniteLand">
                <h3>UniteLand</h3>
                <a href="https://www.uniteland.net" target="_blank"><button>Visitar Página</button></a>
            </div>
        </div>
    </div>
</section>