<section id="contacto">
    <div class="contenedor">
        <h2>Contacta conmigo</h2>
        <div class="contactos">
            <a href="https://walink.co/6da2f8" target="_blank"><button class="red">Whatsapp</button></a>
            <a href="https://t.me/marcoszinga" target="_blank"><button class="red">Telegram</button></a>
            <a href="mailto:'contacto@marcoszinga.online'" target="_blank"><button class="red">E-Mail</button></a>
            <a href="https://www.linkedin.com/in/marcos-zingaretti/" target="_blank"><button class="red">LinkedIn</button></a>
        </div>
    </div>
</section>