<section id="tecnologiases">
  <div class="contenedor">
      <h2>¡Tecnologias que manejo!</h2>
      <div class="cards">
        <div class="card">
          <div class="titulo">Front</div>
          <div class="imagenes">
            <img src="../assets/Iconos/basico.png" class="imagen" alt="imagen de frontend">
          </div>
        <div class="card">
          <div class="titulo">Back</div>
          <div class="imagen">
            <img src="../assets/Iconos/back.png" class="imagen" alt="imagen de backend">
          </div>
        </div>
        <div class="card">
          <div class="titulo">Frameworks</div>
          <div class="imagen">
            <img src="../assets/Iconos/frameworks.png" class="imagen" alt="imagen de frameworks">
          </div>
        </div>
        <div class="card">
          <div class="titulo">GIT</div>
          <div class="imagen">
            <img src="../assets/Iconos/git.png" class="imagen" alt="imagen de GIT">
          </div>
        </div>
      </div>
  </div>
</section>